<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://w0.peakpx.com/wallpaper/4/576/HD-wallpaper-nature-landscape-portrait-display-hotel-sydney-australia-interior-modern-couch-window-city-cityscape-building-trees-church-clouds.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">Pankaj Porwal</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <%= f.label :email, class: "form-lable" %>
                    <%= f.email_field :email, class: "form-control form-control-lg", autofocus: true, autocomplete: "email" %>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <%= f.label :password, class: "form-label" %>
                    <%= f.password_field :password, class: "form-control form-control-lg", autocomplete: "current-password" %>
                  </div>

                  <div class="pt-1 mb-4">
                    <% if devise_mapping.rememberable? %>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me, class: "form-label" %>
                      </div>
                    <% end %>
                  </div>

                  <div class="pt-1 mb-4">
                    <%= f.submit "Log in", class: "btn btn-dark btn-lg btn-block" %>
                  </div>

                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "small text-muted" %><br />
                  <% end %>

                  <!----Terms and Service----->
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>