<%= form_for @text, remote: true do |form| %>
  <% if @text.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(@text.errors.count, "error") %> prohibited this text from being saved:</h4>

      <ul>
        <% @text.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :category, class: "form-label" %>
    <%= form.text_field :category, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :section, class: "form-label" %>
    <%= form.text_field :section, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :key, class: "form-label" %>
    <%= form.text_field :key, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :value, class: "form-label" %>
    <%= form.text_area :value, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "d-none btn btn-primary submit_form" %>
  </div>
<% end %>
