<%= link_to resumes_path, class: 'btn btn-outline-dark btn-sm' do %>
  <i class="fas fa-arrow-left"></i> Back
<% end %>
<div class="d-flex justify-content-between ms-0 m-4">
  <div class="float-left">
    <h1><%= @resume.title %> <%= "(Active)" if @resume.active %></h1>
  </div>
  <div class="float-right">
    <%= link_to "Edit",edit_resume_path(@resume), class: "btn btn-dark float-right" %>
  </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <% pdf_image = @resume.file.preview(resize_to_limit: [1000, 1000]).processed  %>
  <%= image_tag(pdf_image, class: 'img-fluid') %>
  <div class="mt-3">
    <%= button_to "Delete", @resume, method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure?"} %>
  </div>
</div>


